* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 140px;
    padding: 0;
    min-height: 100vh;
    background-color: #F8FAFD;

    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

img {
    display: inline;
}

.container {
    margin: 0 auto;
    padding: 0px 20px;
    max-width: 1500px;
}

.header {
    margin: 0;
    padding: 12px 0px 0px 0px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fffefe;
    border-bottom: 2px solid #b3b3b3;
    z-index: 100000;
}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.navbar-link {
    text-decoration: none;
}

.searchBox {
    margin: 0;
    padding: 0;
    border: 1px solid #efefef;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    background-color: #fff;
    color: #424242;
}

.input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #424242;
    font-weight: 500;
    width: 100%;
}

.searchimg {
    width: 22px;

}

.logoutbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sun {
    margin-right: 22px;
    padding: 0;
    width: 25px;
    cursor: pointer;
}

.logout-button {
    margin: 0;
    padding: 10px 15px;
    color: #fff;
    background-color: rgb(76, 76, 251);
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.logout-button:active {
    opacity: 0.8;
}

.showingbox {
    margin: 0;
    padding: 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #b3b3b3;
}

.showing-desc {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
}

.showing-desc>span {
    font-weight: bold;
}

.showingbox-button {
    margin: 0;
    padding: 8px 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #ccc;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
}

.showingbox-button:active {
    opacity: 0.8;
}

.showingbox-button_img {
    margin-right: 10px;
}

/* main style */

.main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.section-left {
    max-width: 300px;
    position: fixed;
    padding: 20px 10px;
    background-color: #FFFFFF;
    border-right: 1px solid #b3b3b3;
    min-height: 100vh;
    margin-left: -16.5%;
}

.section-leftActive {
    margin-left: 18%;
    transition: all 0.5s ease-in;
    z-index: 1000;
}

.hamburger {
    float: right;
    margin: 0;
    padding: 4px;
    width: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}

.hamburger>img {
    width: 100%;
    height: 100%;
}

.bookmark-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #424242;
    font-weight: 600;
}

.bookmark-desc {
    margin: 0;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    color: #1b1b1b;
}

.bookmark-list {
    margin: 0;
    padding: 20px 8px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 430px;
    overflow-y: scroll;
}


.bookmark-list::-webkit-scrollbar {
    display: none;
}

.bookmark-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8FAFD;
    width: 200px;
    height: 50px;
    padding: 0px 4px;
}

.item-left {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.item-left-title {
    font-size: 14px;
    color: #1b1b1b;
    margin: 0;
    padding: 0;
}

.item-left-after {
    margin: 0;
    padding-top: 8px;
    font-size: 12px;
}

.item-right {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.item-right>a {
    text-decoration: none;
}

.item-right>a:nth-child(2) {
    margin-left: 8px;
}

.section-right {
    max-width: 100%;
}

.bookcard-list {
    margin: 0;
    padding: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bookcard-item {
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 480px;
    box-shadow: 2px 2px 8px;
    border-radius: 5px;
}

.itemImg {
    padding: 20px;
    margin: 0;
    background-color: #F8FAFD;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemImg-img {
    width: 201px;
    height: 202px;
}

.itemBody {
    padding: 13px;
    background-color: #F8FAFD;
    float: left;
}

.itemBody-title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 0;
}

.itemBody-after {
    margin: 0;
    padding-top: 2px;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #757881;
}

.itemBody-years {
    margin: 0;
    padding-top: 2px;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #757881;
}

.itembutton {
    margin: 0;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 12px 20px;
    font-weight: 600;
    font-size: 16px;
}

.yellow {
    background-color: yellow;
    color: dimgray;
    width: 49%;
    margin-right: 2px;
}

.info {
    background-color: #F3F8FF;
    color: rgb(0, 166, 255);
    width: 49%;
}

.dimgrey {
    background-color: dimgray;
    color: #fff;
    width: 100%;
    margin-top: 10px;
}

@media screen and (max-width:1025px) {
    .section-left {
        margin-left: -24%;
    }

    .section-leftActive {
        margin-left: 23%;
    }
}

@media screen and (max-width:769px) {
    body {
        margin-top: 170px;
    }

    .section-left {
        margin-left: -32%;
    }

    .section-leftActive {
        margin-left: 32%;
    }
}

@media screen and (max-width:426px) {
    body {
        margin-top: 190px;
    }

    .section-left {
        margin-left: -57%;
    }

    .section-leftActive {
        margin-left: 117%;
    }
}

/* MODAL STYLE */
.moreInfo {
    position: fixed;
    top: 0;
    right:-100%;
    z-index: 999999;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    max-width: 500px;
    background-color: #F3F8FF;
    padding: 20px;
}

.moreInfo-active{
  right:0%;
}

.moreInfo-box {
    padding: 10px;
    height: 700px;
    overflow-y: scroll;
}

.moreInfo-box::-webkit-scrollbar {
    display: none;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    width: 30%;
    background-color: #eeebff;
    top: 0;
    padding: 20px;
}

.modal-title {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #222531;
}

.modal-delete {
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
    color: #58667E;
    font-size: 28px;
    background-color: transparent;
}

.modalImg {
    margin: 0;
    padding-top: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalImg>img {
    width: 230px;
    height: 240px;
}

.modaldescBox {
    margin: 0;
    padding-top: 12px;
}

.modal-desc {
    font-size: 13px;
    line-height: 170.3%;
    color: #58667E;
    margin: 0;
    padding: 0;
}

.modal-elements {
    margin: 0;
    padding: 0;
}

.modal-autor {
    margin: 8px;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
    color: #222531;
}

.modal-autor+.modal-autor {
    margin-bottom: 12px;
}


.modal-autor>span {
    padding: 4px 14px;
    border-radius: 20px;
    background-color: #a6f2ff;
    font-size: 14px;
    line-height: 17px;
    color: #0D75FF;
}

.readBox {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.read {
    width: 100px;
    padding: 10px 13px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.read:active {
    opacity: 0.9;
}
